footer{
    background-color: #161619;
    padding: 20px 70px;
}
footer img{
    width: 25px;
    height: 25px;
}
.social-icons{
    display: flex;
    justify-content: space-between;
}
.social-icons a{
    cursor: pointer;
}